1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [19]:
#Prova

for i in range(1,101): print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [20]:
#Exercise 1a

for i in range(1,101):
    if ((i%3==0.0) and (i%5==0.0)):
        print("HelloWorld")
    elif ((i%3==0.0) and (i%5!=0.0)):
        print("Hello")
    elif ((i%5==0.0) and (i%3!=0.0)):
        print("World")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [21]:
#Exercise 1b (Version 1)
#I start already with the modified entries, put them in a list, and build a tuple from the list

l=list()

for i in range(1,101):
    if ((i%3==0.0) and (i%5==0.0)):
        l.append("PythonWorks")
    elif ((i%3==0.0) and (i%5!=0.0)):
        l.append("Python")
    elif ((i%5==0.0) and (i%3!=0.0)):
        l.append("Works")
    else:
        l.append(i)
        
t=tuple(l)
print(t)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

In [22]:
#Exercise 1b (Version 2)
#I put in the list the entries of ex 1a, then I do the replacement, and then build a tuple from the resulting list

#I fill the list with the original entries
l = list()

for i in range(1,101):
    if ((i%3==0.0) and (i%5==0.0)):
        l.append("HelloWorld")
    elif ((i%3==0.0) and (i%5!=0.0)):
        l.append("Hello")
    elif ((i%5==0.0) and (i%3!=0.0)):
        l.append("World")
    else:
        l.append(i)

#I perform the requested substitution
for i in range(0,100):
    if l[i]=="Hello":
        l[i]="Python"
    elif l[i]=="World":
        l[i]="Works"
    elif l[i] =="HelloWorld":
        l[i] = "PythonWorks"
        
#I build the tuple
t=tuple(l)
print(t)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [23]:
#Exercise 2 (Version 1: with temporary variable)

def swap(x, y):
    temp = x
    x=y
    y=temp
    return(x,y)

print(swap("a","b"))
print(swap(1,2))

('b', 'a')
(2, 1)

In [24]:
#Exercise 2 (Version 2: without temporary variable)

def swap(l):
    l.reverse() 
    return l

print(swap(["a","b"]))
print(swap([1,2]))

['b', 'a']
[2, 1]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [25]:
#Exercise 3

from math import sqrt

def distanza(a,b): 
    d = sqrt((a[0]-b[0])**2+(a[1]-b[1])**2)
    return d

distanza((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [26]:
#Exercise 4

s = str()
l = list()


s = "Write a program that prints the numbers from 1 to 100. But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

print("Input string: \n" + s.upper() + "\n")

l = [x for x in s]

print("Number of characters in the string:")
print(len(l))
print("\n")


l_temp=list()
n_temp=list()

l_output=list()

for i in range(0,len(l)):
    n_temp.append(0)
    for j in range(0,len(l)):
        if ((l[j]==l[i]) or (l[j]==l[i].lower()) or (l[j]==l[i].upper())):
            n_temp[i]+=1
            
    if ((l[i] not in l_temp and (l[i].upper() not in l_temp) and (l[i].lower() not in l_temp))):
        l_temp.append(l[i])
        l_output.append([str(l[i].lower()),str(n_temp[i])])
        
           
l_output.sort()

n_tot=0

for i in range(0,len(l_temp)):
    print("Character " + l_output[i][0] + " appears " + l_output[i][1] + " times")
    n_tot += int(l_output[i][1])
    

print("Check total characters: " + str(n_tot))

Input string:
WRITE A PROGRAM THAT PRINTS THE NUMBERS FROM 1 TO 100. BUT FOR MULTIPLES OF THREE PRINT HELLO INSTEAD OF THE NUMBER AND FOR THE MULTIPLES OF FIVE PRINT WORLD. FOR NUMBERS WHICH ARE MULTIPLES OF BOTH THREE AND FIVE PRINT HELLOWORLD.

Number of characters in the string:
231


Character   appears 41 times
Character . appears 3 times
Character 0 appears 2 times
Character 1 appears 2 times
Character a appears 7 times
Character b appears 5 times
Character c appears 1 times
Character d appears 5 times
Character e appears 20 times
Character f appears 10 times
Character g appears 1 times
Character h appears 11 times
Character i appears 12 times
Character l appears 12 times
Character m appears 8 times
Character n appears 10 times
Character o appears 15 times
Character p appears 8 times
Character r appears 19 times
Character s appears 7 times
Character t appears 19 times
Character u appears 7 times
Character v appears 2 times
Character w appears 4 times
Check total characters: 231

5\. Isolating the unique

5a. Write a function that determines and count the unique numbers in the list:

In [27]:
#Exercise 5a

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def find_uniques(l):
    l_uniques=list()
    for i in range(0,len(l)):
        if(l[i] not in l_uniques):
            l_uniques.append(l[i])
            
    print("Uniques:", l_uniques)
    print("Number of entries in the original list: ", len(l))
    print("Number of uniques: ", len(l_uniques))
    
    
find_uniques(l)

Uniques: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
Number of entries in the original list:  80
Number of uniques:  54

5b. Do the same without using user-defined functions, but exploiting only the Python data structures.

In [28]:
#Exercise 5b

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

myset = set(l)
print("Uniques:", myset)
print("Number of entries in the oiginal list: ", len(l))
print("Number of uniques: ", len(myset))

Uniques: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Number of entries in the oiginal list:  80
Number of uniques:  54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [29]:
#Exercise 6

def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

a=2
print(a)
print(square(a))
print(cube(a))
print(sixth(a))

2
4
8
64


7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [30]:
#Exercise 7a

l=list()

for i in range(0,11):
    l.append(i**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [31]:
#Exercise 7b

l=[x**3 for x in range(0,11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [32]:
#Exercise 8 (Version 1: with standard for loops)

from math import sqrt, gcd
l=list()

for b in range(1,100):
    for a in range(1,b+1):#I do not consider triples with a,b=b,a
        c=sqrt(a**2+b**2)
        if ((c).is_integer() and (c<100) and (gcd(a,b)==1)): #I do not consider triples whose entries are multiple of already found triples
                triple=[a,b,int(c)]
                l.append(triple)
        
        
t=tuple(l)
print("Unique Pythagorean triples with a,b,c<100: \n", t)

Unique Pythagorean triples with a,b,c<100:
 ([3, 4, 5], [5, 12, 13], [8, 15, 17], [20, 21, 29], [7, 24, 25], [12, 35, 37], [9, 40, 41], [28, 45, 53], [48, 55, 73], [33, 56, 65], [11, 60, 61], [16, 63, 65], [65, 72, 97], [36, 77, 85], [39, 80, 89], [13, 84, 85])

In [33]:
#Exercise 8 (Version 2: with nested list comprehension)

from math import sqrt,gcd

c = lambda a,b : sqrt(a**2+b**2)
l=[[a,b, int(c(a,b))] for b in range(1,100) for a in range(1,b+1) if (c(a,b).is_integer() and (c(a,b)<100) and gcd(a,b)==1)]

print("Unique Pythagorean triples with a,b,c<100: \n", l)

Unique Pythagorean triples with a,b,c<100:
 [[3, 4, 5], [5, 12, 13], [8, 15, 17], [20, 21, 29], [7, 24, 25], [12, 35, 37], [9, 40, 41], [28, 45, 53], [48, 55, 73], [33, 56, 65], [11, 60, 61], [16, 63, 65], [65, 72, 97], [36, 77, 85], [39, 80, 89], [13, 84, 85]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [34]:
#Exercise 9 (Version 1: I normalize the tuple itself)

import math

def normalize(t):
    
    print("Original vector:")
    print(t)
    
    den=0.0
    for i in range(0, len(t)):
        den+=t[i]**2
    den=math.sqrt(den)
    
    l=[x/den for x in t]
    
    t_normalized=tuple(l)
    
    print("Normalized vector:")
    print(t_normalized)
    
    #I check the vector is actually normalized
    check_normalization=0.0
    for i in range(0,len(t_normalized)):
        check_normalization+=t_normalized[i]**2
    check_normalization=math.sqrt(check_normalization)
    print("Check of the normalization:")
    print(check_normalization)
    
    return(t_normalized)

        
normalize((1,2,3))

Original vector:
(1, 2, 3)
Normalized vector:
(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)
Check of the normalization:
1.0

(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)

In [35]:
#Exercise 9 (Version 2: I normalize the single elements of the tuple to the biggest one)

def normalize(t):
    print("Original tuple: \n", t)
    maxvalue = max(t)
    l_normalized = [x/maxvalue for x in t]
    t_normalized = tuple(l_normalized)
    print("Tuple with normalized entries: \n", t_normalized)
    return t_normalized



normalize((1,2,3))

Original tuple:
 (1, 2, 3)
Tuple with normalized entries:
 (0.3333333333333333, 0.6666666666666666, 1.0)

(0.3333333333333333, 0.6666666666666666, 1.0)